# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
/run/
.narrafork/

# Files from Forge MDK
forge*changelog.txt
webeditor/node_modules/
webeditor/dist/